html,body{
    margin: 0;
    padding: 10px;
}
.span{
    padding: 22px 0.5px;
    background: rgb(0, 0, 0);
}
.display{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1%;
    cursor: pointer;
    

}
.div{
    background: rgb(0, 0, 0);
    padding: 1.5px 1px;
    width: 80px;
    margin-left: -20px;

}
.div1{
    background: rgb(190 190 190);
    padding: 1.5px 1px;
    margin-left: 62px;
    margin-top: -3px;
    width: 96vw;

}
.c{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1%;
    
    
}
.img2{
    width: 14%;

}
.img1{
    width: 7%;

}

.display span{
    font-size: 19px;
    font-family: system-ui;
}

.img3{
    width: 7.5%;
    position: relative;
    left: 29vw;
    cursor: pointer;
}
